#!/bin/bash

#USE_SHM_SRCDIR=1
#EXTRA_PACKAGES="$(cat $RBSDIR/list.xorg)"
#DISABLE_CHROOT_BUILD=0

RBS_CC="gcc"
RBS_CXX="g++"
RBS_CFLAGS="-march=k8 -O2 -pipe"
RBS_CXXFLAGS="$RBS_CFLAGS"

RBS_BUILDTARGET="x86_64-unknown-linux-gnu"
RBS_SYSTYPE="64BIT"         # 32BIT, 64BIT, or MULTILIB
